<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superme.mapper.PoiMapper">

    <insert id="creatPoiUser" parameterType="com.superme.bean.PoiUser">
        insert into p_user
        (userId, userName, line1, line2, line3, line4, line5, line6, line7, line8)
        values
        (${userId}, #{userName}, #{line1}, #{line2}, #{line3}, #{line4}, #{line5}, #{line6}, #{line7}, #{line8});
    </insert>

    <select id="getCount" resultType="Long">
        select count(userId) from p_user;
    </select>


    <select id="getPoiUsers" resultType="com.superme.bean.PoiUser">
        select * from p_user limit ${pageStart}, ${pageSize};
    </select>
</mapper>